<div class="large-9 column">
  <h1><%= @topic.name %></h1>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <%= render 'stories/index' %>
  </div>
</div>
<div class="large-3 column">

  <%= link_to 'New Story', new_story_path %> |
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>
</div>



