<div class="large-9 column">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% if @stories.count == 0 %>
    <h3>Post something.</h3>
    <% end %>
    <%= render 'stories/index' %>
  </div>
</div>
<div class="large-3 column">
  <div class="row">
    <h1><b><%= @topic.name %></b></h1>
    <p>Created by: <%= @user.username %></p>
  </div>
</div>
<div class="large-12 column">
  <div class="row">
    <b><%= link_to 'New Story', new_story_path + '?topic_id=' + @topic.id.to_s  %></b> |
    <%= link_to 'Back', topics_path %>
  </div>
</div>


