<div class="row">
  <div class="large-3 column">
    <h1><u><%= link_to 'context', root_path %></u></h1>
  </div>
  <div class="large-9 column">
    <ul class="inline-list right">
      <% if user_signed_in? %>
        <li><%= link_to "Account", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>

